<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account or create new to remove this</h1><br>
    <form class="form-signin" >
      <label for="username" class="sr-only">Email address</label>
      <input #username type="text" id="username" class="form-control" placeholder="Username">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="Password" required="">
      <br>
      <button class="btn btn-md btn-primary btn-block" (click)="login( username.value, password.value)">Forward</button>
    </form>
  </div>
</div>