/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h4 {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-blue {
  background: #5e81a8;
}